@model List<_10433939_PROG7311_Part2.Models.Client>

﻿@{
	ViewBag.Title = "Clients";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="text-bg-secondary">
	<nav class="mb-4">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item active">Clients</li>
		</ol>
	</nav>
	<div class="d-flex justify-content-between align-items-center mb-4">
		<h2>Clients</h2>
		<a href="/Clients/AddClient" class="btn btn-primary"> + Add New Client </a>
	</div>
</body>
<!--Client Table-->
<div class="card">
	<div class="card-body">
		@if (Model.Count == 0)
		{
			<div class="text-center py5">
				<p class="text-muted">No Clients entered yet.</p>
				<a href="/Clients/AddClient" class="btn btn-primary">Add Client</a>
			</div>
		}
		else
		{
			<table class="table">
				<thead>
					<tr>
						<th>Client Name</th>
						<th>Region</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var client in Model)
					{
						<tr>
							<td>@client.name</td>
							<td>@client.region</td>
						</tr>
					}
				</tbody>
			</table>
		}

	</div>
</div>